## -*- coding: utf-8 -*-

	<footer class="panel-footer" role="navigation">
    	<div class="container">
      	<div class="col-sm-3">
        		<table class="table table-condensed">
          		<thead>
            		<td><h3>Offices</h3></td>
          		</thead>
          		<tr>
            		<td><strong>GiveMeMoney &amp; Publishing</strong></td>
          		</tr>
          		<tr>
            		<td>Calle Periodista Daniel Saucedo Aranda s/n</td>
          		</tr>
          		<tr>
            		<td>Granada 18009 - SPAIN</td>
          		</tr>
        		</table>
      	</div>
      	<div class="col-sm-3">
        		<table class="table table-condensed">
          		<thead>
            		<td><h3>Join Us</h3></td>
          		</thead>
          		<tr>
            		<td>jcastilloprez@correo.ugr.es</td>
          		</tr>
          		<tr>
            		<td>josemlp.montefrio@gmail.com</td>
          		</tr>
          		<tr>
            		<td>victoriasantiago@correo.ugr.es</td>
          		</tr>
        		</table>
      	</div>
      	<div class="col-sm-3">
        		<table class="table table-condensed">
          		<thead>
            		<td><h3>Join Us</h3></td>
          		</thead>
          		<tr>
            		<td>luis.redondo.exposito@gmail.com</td>
          		</tr>
          		<tr>
            		<td>juanfrarobles@gmail.com</td>
          		</tr>
          		<tr>
            		<td>ramon92@correo.ugr.es</td>
          		</tr>
        		</table>
      	</div>
      	<div class="col-sm-3">
        		<table class="table table-condensed">
          		<thead>
            		<td><h3>Stop By</h3></td>
          		</thead>
          		<tr>
            		<td>Monday - Friday 8:30 - 17:30</td>
          		</tr>
          		<tr>
            		<td>Saturday: Closed</td>
          		</tr>
          		<tr>
            		<td>Sunday: Closed</td>
          		</tr>
        		</table>
      	</div>
    	</div>
    	<!-- ./container -->
  	</footer>
</body>
</html>
