    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Dias de la Semana', 'Alimentación', 'Hogar', 'Escolares', 'Transporte', 'Ocio', 'Otros'],
          ['Lunes',    100, 400, 100, 400, 220, 100],
          ['Martes',   170, 460, 300, 400, 100, 400],
          ['Miercoles', 660, 520, 170, 460, 220, 100],
          ['Jueves',   430, 540, 170, 460, 100, 400],
          ['Viernes',  430, 540, 370, 460, 220, 100],
          ['Sabado',   430, 540, 660, 220, 100, 400],
          ['Domingo',  230, 540, 660, 320, 220, 100]
        ]);

        var options = {
          title: 'Gastos semanales',
          hAxis: {title: 'Días de la semana', titleTextStyle: {color: 'blue'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('visualization'));
        chart.draw(data, options);
      }
    </script>

## -*- coding: utf-8 -*-

<%include file="header.html"/>
<%include file="information.html"/>

    <div>
      <div class="row"></div>
      <div class="col-xs-16 col-md-8">
        <div class="thumbnail">
          <!--graficas-->
          <h2 style="text-align:center">Gastos</h2>
          <!--<p>.....[Muestra espacio de gráfica]...</p>-->
          <div id="visualization" style="width: 800px; height: 400px;"></div>
          <div class="list-group"> <!--Enganchar cada opcion a su tipo de grafica-->
            <a href="#" class="list-group-item active"> Opciones: </a> 
				<a	href="/GiveMeMoney/web/charts.html" class="list-group-item">Consultar gráfica diaria</a> 
				<a href="/GiveMeMoney/web/charts.html" class="list-group-item">Consultar gráfica semanal</a> 
				<a href="/GiveMeMoney/web/charts.html" class="list-group-item">Consultar gráfica mensual</a> 
				<a href="/GiveMeMoney/web/charts.html" class="list-group-item">Consultar gráfica anual</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="thumbnail">
        <!--graficas-->
        <h2>Perfil</h2>
        <img src="/static/images/fotos/castillo.jpg"><br>
        <!--<p>.....[Muestra espacio de foto]...</p>-->
        <div class="col-xs-6 col-md-12">
          <div class="thumbnail">
            <p>
              <a href="/GiveMeMoney/web/modificarperfil.html" class="btn btn-primary" role="button">Editar</a>
              <a href="#" class="btn btn-primary" role="button">Guardar</a>
              <a href="/GiveMeMoney/web/Gasto.html"><button type="button" class="btn btn-primary">Añadir gastos</button></a>
            </p>
            <h4>Nombre:</h4>
            <h4>Apellidos:</h4>
            <h4>Usuario:</h4>
            <h4>E-mail:</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-md-12">
            <div class="thumbnail">
              <h2>Estadisticas</h2>
              <h3>Fecha</h3>
              <p>Descripción</p>
              <p>Descripción</p>
              <p>Descripción</p>
              <p>Descripción</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<%include file="footer.html"/>
