## -*- coding: utf-8 -*-


  <h1>GiveMeMoney</h1>

  <p></p>
  <div id="sample_container_id">
    <div class="row"></div>
    <div class="col-lg-12 ">
      <div class="thumbnail">
        <div class="row featurette">
          <div class="col-md-8">
            <h3>La herramienta gestionar tu dinero.</h3>
            <p id="sample_text_id">Es una aplicación que te permitirá controlar fácilmente de gastos diarios, semanales, mensuales y anuales.</p>
            <p>Podrás manejar finanzas de tu casa o de tu negocio gracias a la posibilidad de poder crear perfiles de usuario.</p>
            <p>Como principal funcionalidad, destaca el poder consultar estadísticas e informes de gastos que os permitirán ver los gastos por día, semana, mes y año. También se pueden consultar multitud de informes de dos niveles:</p>
            <p>- Tipo de gasto.</p>
            <p>- Temporización.</p>
          </div>
          <div class="col-md-4">
            <img class="featurette-image img-responsive" src="/static/images/logotipo.png" alt="GiveMeMoney">
          </div>
        </div>
      </div>
    </div>
