## -*- coding: utf-8 -*-

<%include file="header.html"/>
<%include file="information.html"/>

  
    <div id="sample_container_id">
      <div class="row"></div>
        <div class="col-lg-12 ">
          <div class="thumbnail">
          	<div class="row featurette">
            	<div class="col-md-4">
            	</div>
            	<div class="col-md-4">
               	<form method="post">
							${form.render()}
						</form>
            	</div>
            	<div class="col-md-4">
            	</div>
          	</div>     
          </div>
       </div>
    </div>

<%include file="footer.html"/>
